# Gradle build system ignores
.gradle/
build/

# Other IDE related folders
.idea/
.settings/
.project
.classpath

# MCreator workspace
.mcreator/

# Minecraft client/server files
run/

# MacOS system files
.DS_STORE
